@import './portfolio.scss';
@import './header.scss';
@import './skills.scss';
@import './about.scss';
@import './footer.scss';
@import './projects.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', 'Montserrat', Avenir, sans-serif;
  scrollbar-width: none !important;
}

body {
  margin: 0;
  font-size: 100%;
  position: absolute;
  width: 100%;
  background-color: #fafafa;
  overflow: -moz-scrollbars-none;
  overflow-y: scroll;
}

h1 {
  color: white;
  text-align: center;
  margin-top: 10vh;

  &.title {
    margin-top: 0em;
    font-size: 5em;
    letter-spacing: 0.05em;
    font-weight: lighter;
    text-shadow: 0.02em 0.02em 0.02em rgba(0, 0, 0, 1);
  }
}

p {
  padding: 0 3em;
}

div.descriptionLink {
  text-align: center;
  color: white;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  width: 100%;

  a {
    margin: 0;
  }


  img.arrow-down {
    display: inline-block;
    filter: drop-shadow(0.1em 0.1em 0.1em #000000);
  }
}

body::-webkit-scrollbar {
  width: 0 !important;
}

div.scrollbarThumb {
  background-color: rgba(255, 255, 255, 0.3);
  width: 1em;
  height: 4vh;
  position: fixed;
  cursor: grab;
  z-index: 2;

  &:active {
    cursor: grabbing;
  }
}

div.scrollbarTrack {
  width: 1em;
  height: 100%;
  position: absolute;
  right: 0px;
  display: block;
  float: right;
  overflow: hidden;
}

div.content {
  h1 {
    color: black;
  }
}

@media only screen and (max-width: 767px) {
  html,
  body {  
    overflow-x: hidden;
    width: 100%;
  }
  h1.title {
    font-size: 3em;
  }

  div.descriptionLink {
    bottom: 20%;
  }

  div.scrollbarThumb {
    visibility: hidden;
  }
}

@media only screen and (max-width: 480px) {
  div.descriptionLink {
    bottom: 10%;
  }
}